# Cleaning

In [ ]:
import pandas as pd
df = pd.read_csv('../Datasets/places.csv')

In [ ]:
df

,features__id,features__geometry__coordinates__001,features__geometry__coordinates__002,features__properties__name,features__properties__kinds
0,7982642,73.856285,18.519789,Navagraha Shani Mandir,"religion,hindu_temples,interesting_places"
1,1880291,73.855774,18.519611,NaN,"architecture,historic_architecture,interesting..."
2,7989636,73.855408,18.520498,NaN,"religion,hindu_temples,interesting_places"
3,8119763,73.855835,18.519409,NaN,"architecture,historic_architecture,interesting..."
4,4982515,73.855301,18.520477,Shaniwar Wada Amphitheatre,"architecture,historic_architecture,fortificati..."
...,...,...,...,...,...
495,5167813,73.860718,18.754732,NaN,"religion,hindu_temples,interesting_places"
496,7989644,73.869949,18.754507,NaN,"religion,hindu_temples,interesting_places"
497,1880659,73.849441,18.755674,NaN,"religion,hindu_temples,interesting_places"
498,1880658,73.848267,18.756159,NaN,"religion,hindu_temples,interesting_places"
499,5102378,73.865364,18.756971,"Bolhai mata mandir, chakan","religion,other_temples,interesting_places"

In [ ]:
df.isnull().sum()

features__id                             0
features__geometry__coordinates__001     0
features__geometry__coordinates__002     0
features__properties__name              79
features__properties__kinds              0
dtype: int64

In [ ]:
new_df = df.dropna()
new_df = new_df[~new_df['features__properties__name'].str.contains('\d', na=False)]

In [ ]:
new_df.to_csv("../Datasets/new_places.csv", index=False)